$dark-color: #343758;
$light-color: rgba(255, 255, 255, 0.87);
$accent-color: #e5007d;

:root {
  --text-color: #{$dark-color};
  --background-color: #{$light-color};

  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 30rem 1rem 15rem 1rem;
}

.scroll-reveal {
  > h1 span,
  > p span {
    display: inline;
    color: #ffffff50;
    background: linear-gradient(90deg, rgb(88, 105, 255), rgb(128, 0, 53));
    background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    animation: scrollReveal 2s linear forwards;
    animation-timeline: view();
    animation-range: contain;
  }
  > h1 span {
    animation-range-start: 55vh;
    animation-range-end: 80vh;
  }
  > p span {
    animation-range-start: 30vh;
    animation-range-start: 80vh;
  }
}

@keyframes scrollReveal {
  100% {
    background-size: 100% 100%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #{$dark-color};
    --background-color: #{$light-color};
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #{$light-color};
    --background-color: #{$dark-color};
  }
}
